.own-project-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.own-projects-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px 30px;
    padding:25px;

}

.container{
    position: relative;
    z-index: 2;
    height: 250px;
    width: 358px;
    border-radius: 10px;
    padding: 16px 16px 24px 16px;
    cursor:pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    background-color: #ffffff;
    margin:auto;

}

.container:hover{
    background-color: #eff2f5;
}

.container-fold {
    position: relative;
    z-index: 1;
    padding-top: 8px;
    transform: translateY(-8px);

    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.04);
    background-color: rgba(245, 150, 82, 0.70);
    border: 0.5px solid rgba(128, 128, 128, 0.222);
   


    display: flex;
    justify-content: center;
    align-items: center;
}


.container-fold:hover{
    background-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(245, 150, 82, 0.85);
}

.title{
    font-size: 18px;
    font-weight: 600;
    width:100%;
    display:flex;
    justify-content: center;
    padding-bottom:8px;
    border-bottom:1px solid #f59752;
    
}
.location-container{
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    font-size:14px;
    color: #666

}

.icon {

    margin-right:8px;
    color:red;
    font-size: 25px;
}

.fields{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.field-name{
    font-size: 14px;
    border: 1px solid red; 
    border-radius:10px;
    padding:4px;
    margin-right: 4px;
  
    
}

.delete-project-btn{
    
    width: 100%;
    padding:7px;
    border-radius:10px;
    border:none;
    background-color: transparent;


}

.delete-project-btn > i{
    margin-left: 8px;
}

.wrapper{
    width: calc(100vw - 350px);
    height: calc(100vh - 100px); 
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
}

.wrapper :first-child{
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
}

.wrapper > div > i {
    margin-left: 30px;
}

.wrapper > button {
    margin-top:40px;
    border:none;
    background-color: #f59752;
    border-radius: 25px;
    width:120px;
    padding:10px;
}

.spinner-container{
    height: calc(100vh - 32px);
    display:flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width:105px;
    height:105px;
}


/* TABLET VIEW */
@media screen and (max-width: 1240px){

    .own-projects-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .wrapper{
        width: calc(100vw - 120px);
        height: 70vh;
        text-align: justify;
    }
}



/* MOBILE VIEW */
@media screen and (max-width: 1180px){

    .own-project-container{
        height:calc(100vh - 138px);
    }

    .own-projects-grid{
        grid-template-columns: repeat(1,1fr);
        height: calc(100vh - 142px);
        overflow:auto;
        padding: 20px 10px 0 10px; 
    }

    
}

